@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
.tabs-trigger {
  background-color: #1e2939;
  color: white;
}

.tabs-trigger-active {
  background-color: black;
  color: white;
}
